body {
  margin: 0;
  background: #000; 
}
video { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background: url('//workInProgress.png') no-repeat;
    background-size: cover;
    transition: 1s opacity;
}


/* fonts */ 

.title {
    color : white;
    font-family: 'Josefin Sans', sans-serif;
}

.subtitle {
    color : white;
    font-family: 'Amatic SC', cursive;
    font-size: 56px;
}

.tagline-1 {
    color : #25E375;
    font-family: 'Rokkitt', serif;
    font-size: 65px;
}
.tagline-2 {
    /* color : white */;
    font-family: 'Lobster', cursive;
    /*font-style: italic;*/
    font-size: 56px;
}
.tagline-2 p1 {
    color : #FFE309;
    font-family: 'Lobster', cursive;
    font-style: italic;
    font-size: 56px;
}

.modL {
    color : #1911FC;
    font-family: 'Indie Flower', cursive;
    font-size: 75px;

}



.modL p1 {
    color : white;
    font-family: 'Bangers', cursive;
    font-size: 56px;
}

.modL p2 {
    color : #1D273E;
    font-family: 'Alfa Slab One', cursive;
    font-size: 56px;
}

.modL p3 {
    color : white;
    font-family: 'Bungee Shade', cursive;
    font-size: 56px;
}

.modL p4 {
    color : #FC1128;
    font-family: 'Lobster', cursive;
    font-size:90px;
}

.modL a:hover {
   text-decoration: none;
   font-family: 'Lobster', cursive;
}


