

body{
/*  margin: 0;
  overflow: hidden;
  height:100%; */

}


@media (min-width: 768px){

  #left {
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 0;


  }
  
  #right {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    overflow-y: scroll;
    /*width: 65%;*/

  }

}

@media all and (min-width: 768px) and (max-width: 1280px){
  #left {
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 0;


  }
  
  #right {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    overflow-y: scroll;

  }

}



@media (max-width: 992px){
  #left {
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 0;

  }
  
  #right {
 /*   position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    overflow-y: scroll;*/


  }
}
/*==== LEFT =====*/

#left {

 height: 100vh;
 /*  top: 0;*/
 background-image: url("image/overlay.png"), url("image/sadriID.jpg"); 
 background-size: auto,                  100vh;
 /*background-size: auto,                  auto;*/
 background-repeat: repeat,              no-repeat;

 justify-content: space-between;
 top: 0;
 /*width: 35%*/

}



#connect {
  padding-top: 5vh;

}

li {
  list-style-type: none;
}

li:hover{
  color: #3091cb;
}

.rebtn-link{
  color: #FFF000;
  text-decoration: none; 
}

.rebtn-link:hover {
  color: #367FEC;
}

#dev p{
  padding-top: 25vh;
  padding-left:10%;
  font-size: 5em;
  color: #FFF000;
  position: relative;
  font-family: 'Permanent Marker', cursive;
}
/*==== RIGHT =====*/


#right{

  /*height: 100vh;*/
  /*width: 65%; */
  background-color: rgba( 255, 255, 255, 1);

}
/* * {
  box-sizing: border-box; 
  } */

  section {
    width: 100%;
    padding: 0 7%;
    /*display: table;*/
    /*margin: 0;*/
    /*max-width: none;*/
    /*background-color: #373B44;*/
    height: 100vh;

  }
  .style-inter{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  }
  /*==== Section ====*/

  .title h1{
    /*text-align: center;*/
    color: #3091cb;
    padding-top: 5vh;
    padding-bottom: 3vh;
    font-family: 'Permanent Marker', cursive;

  }
  .title h2{
    padding-top: 5vh;
    padding-bottom: 3vh;
  }

  #containerPart1 p{

    margin: 1em;
  }


  #part1{
    /*height: 100vh;*/
    /*background-color: blue;*/
    color: #4b5885;
  }
  #part1 p{
   color: #4b5885;

 }


 #part2{
  height: 100vh;
  /*background-color: red;*/

}

#part3{
  height: 100vh;
  /*background-color: blue;*/
  text-align: center;
}

#part3 img{
  width:50%;
  height:auto;
}


#titleTrick{
 color: #3091cb;
 padding-top: 10vh;
 padding-bottom: 5vh;
 font-family: 'Permanent Marker', cursive;
}

.conterLogo{
 /* text-align: center;*/
 margin: 0px auto;
 padding: 5vh;
}
.img-responsive{
 /*text-align: center;*/
 margin-bottom: 3vh;
 margin-right: 10vh;

}

#contact {
  text-align: center;
  /*background-color:purple;*/
  height: 50vh;
}
#titleGet h1{
 color: #3091cb;
 padding-top: 10vh;
 padding-bottom: 3vh;
 font-family: 'Permanent Marker', cursive;
}
.content {
  display: table-cell;
  /* vertical-align: middle;*/
}

#titleGet a {
  color: #3091cb;
}

h1 {
  font-size: 3em;
  display: block;
  color: white;
  font-weight: 300;
}

p {
  font-size: 1.5em;
  font-weight: 500;
  color: #C3CAD9;
}

a {
  font-weight: 700;
  color: #373B44;
  position: relative;

  &:hover{ 
    opacity: 0.8;
  }

  &:active {
    top: 1px;
  }
}

/*====== CARD =======*/

@import url(https://fonts.googleapis.com/css?family=Roboto);
h1 {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
}

.recards {
  margin: 0px auto;
  padding: 5vh;
}
.recards:after {
  content: "";
  display: table;
  clear: both;
}

/*.cards {
  width: 100%;
  }*/
/*.cards:after {
  content: "";
  display: table;
  clear: both;
  }*/

  .card {

    width: 30%;
    margin-right: 2%;
    float: left;
    /*background: #333;*/
    border-radius: 2px;
    box-shadow: 4px 5px 3px #979797;
    overflow: hidden;
    position: relative;

    margin-bottom: 2vh;
  }
  .card.card-animation-translate .card-text {
    top: 100%;
    transition: all .2s ease;
  }


  .card:hover.card-animation-translate .card-text {
    top: 0px;
  }


/*  .card:last-child {
    margin-right: 0%;
    }*/

/*    .card-image {
      position: relative;
      }*/
      .card-image img {
        width: 100%;
        display: block;
      }

      .card-text {
        position: absolute;
        z-index: 1;
        padding: 15px 20px 15px 20px;
        height: 100%;
      }
      .card-text h1, .card-text h2, .card-text h3, .card-text h4, .card-text h5 {
        margin: 0px;
      }
      .card-text h1, .card-text h2, .card-text h3, .card-text h4, .card-text h5, .card-text p, .card-text span {
        color: white;
        font-family: 'Roboto', sans-serif;
      }
      .card-text:after {
        content: "";
        background: url(http://s32.postimg.org/jy9lu67wx/crossed_stripes.png);
        width: 100%;
        height: 100%;
        opacity: 0.5;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
      }
      .card-text p, .card-text h1, .card-text h2{
        font-size: 1vh;

      }


/*      #footer .icons {
        margin: 1em 0 0 0;
      }

      #footer .icons a {
        color: rgba(255, 255, 255, 0.4);
      }

      #footer .copyright {
        color: rgba(255, 255, 255, 0.4);
        font-size: 0.8em;
        list-style: none;
        margin: 1em 0 0 0;
        padding: 0;
      }

      #footer .copyright li {
        border-left: solid 1px rgba(255, 255, 255, 0.25);
        display: inline-block;
        line-height: 1em;
        margin-left: 0.75em;
        padding-left: 0.75em;
      }

      #footer .copyright li:first-child {
        border-left: 0;
        margin-left: 0;
        padding-left: 0;
      }

      #footer .copyright li a {
        color: inherit;
      }
      */


      /*==== Social icon ====*/

      .list-social .btn { 
        font-size:1.3em; 

      }
      .list-social .btn:hover { 
        text-decoration: none; 
      }


